DATABASE_URL=postgresql://homepedia:homepedia@localhost:5432/homepedia
POSTGRES_USER=homepedia
POSTGRES_PASSWORD=homepedia
POSTGRES_DB=homepedia
DATA_LAKE_PATH=./data_lake
SCORE_WEIGHTS_PATH=./config/score_weights.yml

